*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
    height: 320px;
    border-radius: 24px;
    background: url(https://car-images.bauersecure.com/wp-images/3550/best_sportscar_514.jpg);
    background-size: cover;
    background-position: center;
}

.box{
    width: 40%;
    height: 70px;
    background-color: white;
    border-bottom-right-radius: inherit;
    position: relative;
}

.box::before, .box::after{
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    background: radial-gradient(circle at bottom right, transparent 70%, white 75%);
}

.box::before{
    left: 100%;
}

.box::after{
    top: 100%;
}