*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    height: 70vh;
    border: 5px solid blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    gap: 50px;
}

.box{
    height: 80px;
    width: 80px;
    border: 4px solid black;
    background-color: yellowgreen;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    transform: rotate(0.125turn);
    /* 1 turn = 360deg */
    /* the rotation occur from the center point which means in circular motion */
}

.box2{
    /* Default transform origin are the center of the item but we can set them*/
    /* transform-origin: center; */
    /* transform-origin: top left; */
    /* transform-origin: 100% 0%;  */
    /* same as top left */
    transform-origin: 50px 100px;
    /* from x axis and y axis */
    transform: rotate(30deg);
}

