/*! @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap'); */

/* this is a single font baloo bhai but we will be adding more than 1 font in a singleline code @import */

/* *This is a way how we add font through @import from google @import must be added in style tag or in the css file*/



@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* here we have add both baloo bhai and poppins font together */

body{
    background-color: yellowgreen;
}

.title{
    color: green;
    font-size: larger;
}

h1, h2{
    text-align: center;
    font-family: "Baloo Bhai 2", serif;
    text-decoration: underline;
    letter-spacing: 25px;
    text-decoration-style:double;
    text-decoration-thickness: 4px;
}

h2{
    letter-spacing: normal;
    text-transform: capitalize;
    /* text-transform has many attributes for example capitalize will capitlize the first letter of each word */
    /* then if we use uppercase it will transform all the word's letter into uppercase and lowercase will 
    do the same as well */
    text-decoration-color:green;
    /* it will change the color of the underline which was by default black so we are making it into green */
    text-decoration-style: wavy;

}

p{
    font-family: "Poppins", serif;

    /** This is called fallback font where if first one doesn`t work on browser or even from the user side rendering font style than second one will be applied if browser or user side device accept so and it will continue till last */
    font-style: oblique; 
    /* oblique and italic are the same no need to think more less useful term!!!! */
    font-weight: 700;
    text-decoration: underline; 
}

.description, .lorem{
    text-indent: 50px;
    /* indent will make some space before paragraph as we want */
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 2;
}

.lorem{
    text-indent: 0px;
    /* * text-indent works on px or unit base so we can not use "none" to not apply indent */
    width: 80px;
    border: 5px solid red;
    overflow: hidden;
    /*! if the width is too much small than the word might come out the box model of the p tag then overflow:hidden; is used to take care of the scenario so that the content not overflow from the container p */
}
