@import "tailwindcss";

@font-face {
  font-family: "circular";
  src: url("/asset/font/circular-std-medium-500.ttf") format("truetype");
}


@theme {
  --font-sans: "circular", sans-serif;
}


/* Style the scrollbar track */
#scroll-div::-webkit-scrollbar {
    width: 16px; /* Width of the scrollbar */
}

#scroll-div::-webkit-scrollbar-track {
    background: #121212; /* Track color */
}

#scroll-div::-webkit-scrollbar-thumb {
    background-color: #404040; /* Scrollbar handle color */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #121212; /* Optional: adds padding effect */
}