@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: white; */
    background: #1d1822;
    color: white;
    text-align: center ;
}

.card{
    width: 350px;
    height: 550px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 2px black;
    position: relative;
}

.box1{
    height: 50%;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: relative;
    background-image: url(https://www.livehome3d.com/assets/img/articles/design-house/how-to-design-a-house.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.span-box1{
    color: white;
    position: relative;
    top: 250px;
    background-color: #1d1822;
    width: 50%;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    /* border: 2px solid orangered; */
    font-weight: 700;

}

/* .span-box2{
    background: white;
    color: orange;
    position:absolute;
    right: 0px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
} */


.box2{
    position: absolute;
    bottom: 20%;
    margin: auto 20px;

}

.box3 a{
    position: relative;
    margin: auto 20px;
    text-decoration: none;
    top: 208px;
    color: #1d1822;
    background-color: orangered;
    padding: 15px;
    border-radius: 15px;
    transition: 500ms;
    font-weight: 700;

}

.box3 a:hover{
    box-shadow: 0px 0px 15px 2px orangered;
    transition: 500ms;
}