*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    /* padding: 10px; */
    display: flex;
    place-content: center;
}

.container{
    width: 80vw;
    height: 100vh;
    border: 5px solid black;
    display: grid;
    grid-template-columns: [first-c]100px [second-c]auto [third-c]150px [forth-c];
    grid-template-rows: 100px 100px;
    gap: 5px;
    column-gap: 50px;
    row-gap: 90px;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    /* ! place-content: center makes the entire justify content center and align content center both togather */
    justify-items: center;
    align-items: center;
}

.item{
    /* background-color: yellowgreen; */
    border: 3px solid red;
    height: 55px;
    width: 55px;
}

.item-4{
    grid-row: 1/2;
    grid-column: 1/2;
}

.item-1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.item-5{
    grid-column: first-c/forth-c;
    width: 55px;
    align-self: center;
    justify-self: center;
}