@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

body::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: black;
}
