@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 800;

  font-family: "poppins", serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40vw;
  aspect-ratio: 1 / 1;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: none;
}

label {
  perspective: 100px;
  /*! perspective must be added to the parent of the 3d item */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: orange;
  cursor: pointer;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 1s;
  color: white;
}

#click:checked ~ .container label .box {
  color: black;
  background-color: red;
  transform: translate3d(50%, 50%, -75px);
}
