@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-sec-col: #252525;
  --inp-border-col: #252525;
  --btn-icon-col: #252525;
  --btn-cta-col: #ebb539;
  --cal-col: #ebb539;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --bg-sec-col: #252525;
    --inp-border-col: #252525;
    --btn-icon-col: #252525;
    --btn-cta-col: #ebb539;
    --cal-col: #ebb539;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
