@import "tailwindcss";

@font-face {
  font-family: "Orbito";
  src: url("/fonts/Orbito.otf") format("opentype");
}

/* .font-orbito {
  font-family: "Orbito", sans-serif;
} */

body{
    font-family: "Orbito", sans-serif;
    background-color: #121212;
    color: white;
}