/* overflow: scroll; */
/* it will show a scroll bar all the time even if overflow is not happening the bar will be seen */

/* overflow: auto; */
/*it will also show the scroll bar but only when the overflow is occurring*/

/* overflow: hidden; */
/* it will make the overflow completely hidden */

/* white-space: nowrap; */
/* this will make the text in single line although we have significant height of our box but it will not come next line */
/* basically the scroll bar come in the horizontal area by using white-space: nowrap; */

.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  overflow: hidden;
}

.box p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** text-overflow: ellipsis needed some condition to work
  
  --> first of all the text tag should be define correctly if it is inside <p> tag we have to define the tag in css
  
  --> then the overflow property must be applied auto, hidden, scroll anything to see the effect

  --> white-space: nowrap; is also a must to see the effect
*/

/*! overflow can be used for any tag so for the text-overflow: ellipsis we must ensure the correct tag is defined and the overflow and white-space property are also defined in the tag is safe practise!!!! */


/*! overflow: clip is same as the hidden the difference between clip and hidden is 

hidden hide the scroll bar
clip also do the same but it also good for layout performance
but hidden is old version browser supported
*/


.box2{
  border: 3px solid green;
  width: 250px;
  height: 100px;
  /* overflow-x: scroll;
  overflow-y: hidden; */
  overflow: scroll hidden;
  /* we can write the code like this as well first property is for the x and 2nd is for y*/
}